.scroll {
  min-height: 100%;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.mapboxgl-canvas {
  left: 0;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.mapbox-logo{
  display: none !important;
}

.currentDisplayed {
  display: none;
}