<ion-split-pane>
  <ion-menu mode="ios" contentId="content">
    <ion-header mode="ios">
    <ion-toolbar mode="ios">
      <ion-title mode="ios"></ion-title>
    </ion-toolbar>
    </ion-header>


  <ion-content>
    <ion-list mode="ios">
      <ion-menu-toggle mode="ios" auto-hide="false">
        <ion-item detail="false" mode="ios" routerLink="/main-menu/pages/main" routerDirection="root">
          <ion-icon color="primary" mode="ios" slot="start" name="analytics"></ion-icon>
          Groups
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle mode="ios" auto-hide="false">
        <ion-item detail="false" mode="ios" routerLink='/main-menu/pages/profile' routerDirection="root" >
          <ion-icon color="primary" mode="ios" slot="start" name="contact"></ion-icon>
          <ion-text>Profile</ion-text>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-menu-toggle mode="ios" auto-hide="false">
          <ion-item detail="false" mode="ios" routerLink="" routerDirection="root" >
            <ion-icon mode="ios" slot="start" name="cog"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>
